////////////////////////// General Body /////////////////////////
body{
  margin: 0;
  padding: 0;
  font-family: 'arial';
}
ul{
  display: block;
  text-decoration: none;
}
li{
  display: inline-block;
  text-decoration: none;
}
section ul{
  padding: 0;
  li{
    display: inline-block;
    vertical-align: middle;
  }
}
input{
  border-radius: .3em;
  font-size: .8em;
}
a{
  text-decoration: none;
}
div{
  length: 40%;
}
////// icon default size ////
.size{
  font-size: 1em;
}
////////////////////////////////////////////////////////////////////

///////////////////////////// Nav /////////////////////////////////
nav{
  a{
    color: black;
  }
  background-color: #D1D1D1;
  border-bottom: solid thin #666666;
  margin-top: 0;
  padding-top: 2%;
  ul{
    margin-top: 0;
  }
}
#head-left{
  margin-right: 30%;
  margin-left: 4%;
  input{
    width: 22em;
  }
}
#head-right{
  width: 10%;
  ul{
    width: 100%;
    padding: 0;
    li a, li span{
      margin: 0 2%;
    }
    li{
      width: 25%;
    }
  }
}
#sm-pic img{
  width: 1em;
  vertical-align: bottom;
  border-radius: .2em;
}
///// line below tabs ////
.underline{
  margin-top: 0;
}
/////////////////////////////////////////////////////////////////

/////////////////////////// Left Column ////////////////////////
#left-C{
  width: 23%;
  margin-left: 8%;
  margin-right: 2%;
  vertical-align: top;
}
#pic {
  width: 100%;
  vertical-align: top;
  img{
  width: 14em;
  border-radius: 1em;
  }
}
#names{
width: 100%;
 li{
  display: block;
  }
}
#details2{
  margin-left: 5%;
}
#details2 li{
  margin: 0 13%;
}
#details2Titles{
  li{
    margin: 0 3%;
  }
}
#org{
  li{
    display: block;
  }
}

/////////////////////////////////////////////////////////////////////

/////////////////////////// Right column ///////////////////////////
#right-C{
  width: 54%;
  margin-left: 0;
  margin-top: 0;
}
.tabs{
    li{
      width: 16.9%;
      margin: 0;
      &:nth-child(3){
        margin-right: 27%;
      }
      &:nth-child(4){
        width: 20%;
      }
     a{
     text-decoration: none;
     color: black;
     margin: 2% 0;
     padding: 2%;
   }
   button{

   }
 }
}
#repo li{
  display: block;
}
#cont{
  display: none;
}
#repo{
  a{
    width: 20%;
    display: inline-block;
  }
  div{
    display: inline-block;
    width: 79%;
    text-align: right;
  }
}
#pa{
  display: none;
}
.repoSpacer{
  margin-right: 5%;
}
#rep-tab{
  border: .1em solid #B2B2B2;
  border-radius: .2em;
  border-bottom: none;
  padding-bottom: .3em;
  background-color: white;
}
#pa-tab, #cont-tab{
  background-color: white;
  border-radius: .2em;
}
/// hr tag below buttons ///
.up{
  color: #B2B2B2;
}
////////////////////////////////////////////////////////////////////////////

////////////////////////////// Footer ///////////////////////////////////
#foot{
  font-size: .7em;
  li{
    margin: 0 auto;
    padding: 0;
    &:nth-child(2){
      margin-left: 2%;
    }
  }
}
