body {
  margin: 0;
  padding: 0;
  font-family: 'arial'; }

ul {
  display: block;
  text-decoration: none; }

li {
  display: inline-block;
  text-decoration: none; }

section ul {
  padding: 0; }
  section ul li {
    display: inline-block;
    vertical-align: middle; }

input {
  border-radius: .3em;
  font-size: .8em; }

a {
  text-decoration: none; }

div {
  length: 40%; }

hr {
  color: #D8D8D8; }

.size {
  font-size: 1em; }

nav {
  background-color: #E6E6E6;
  border-bottom: solid thin #666666;
  margin-top: 0;
  padding-top: 1%; }
  nav a {
    color: black; }
  nav ul {
    margin-top: 0; }
    nav ul li {
      vertical-align: middle; }

#head-left {
  font-size: .9em;
  margin-right: 25%;
  margin-left: 4%;
  width: 50%; }
  #head-left input {
    width: 22em;
    padding: 2% 0;
    border-radius: .3em; }
  #head-left li {
    margin-right: 1%; }
    #head-left li:nth-child(1) {
      font-size: 1.7em; }
    #head-left li:nth-child(3), #head-left li:nth-child(4), #head-left li:nth-child(5) {
      font-size: .8em;
      font-weight: bold; }

#head-right {
  width: 10%; }
  #head-right ul {
    width: 100%;
    padding: 0; }
    #head-right ul li a, #head-right ul li span {
      margin: 0 2%; }
    #head-right ul li {
      width: 25%; }

#sm-pic img {
  width: 1em;
  vertical-align: bottom;
  border-radius: .2em; }

.underline {
  margin-top: 0; }

#left-C {
  width: 23%;
  margin-left: 8%;
  margin-right: 2%;
  vertical-align: top; }

#pic {
  width: 100%;
  vertical-align: top; }
  #pic img {
    width: 14em;
    border-radius: 1em; }

#names {
  width: 100%; }
  #names li {
    display: block; }
    #names li:nth-child(1) {
      font-weight: bold;
      font-size: 1.8em; }
    #names li:nth-child(2) {
      font-size: 1em;
      color: #B2B2B2;
      font-weight: lighter; }

#details1 li {
  font-size: .8em; }
  #details1 li:nth-child(1) {
    color: #296ACC; }

#details2 {
  margin-left: 5%; }

#details2 li {
  margin: 0 13%;
  font-size: 1.5em;
  color: #296ACC;
  font-weight: bold; }

#details2Titles li {
  margin: 0 9.5%;
  font-size: .6em; }

#org li {
  display: block; }
  #org li a img {
    width: 15%; }

#right-C {
  width: 54%;
  margin-left: 0;
  margin-top: 0; }

.tabs li {
  width: 19%;
  margin: 0; }
  .tabs li:nth-child(3) {
    margin-right: 20%; }
  .tabs li:nth-child(4) {
    width: 20%;
    padding-bottom: 1%; }
  .tabs li a {
    text-decoration: none;
    color: #B2B2B2;
    margin: 2% 0;
    padding: 2%;
    width: 100%; }
    .tabs li a span {
      margin: 0 3%;
      font-weight: lighter;
      font-size: .8em; }

#repo li {
  display: block;
  padding: 5% 0;
  border-bottom: 0.1em solid #D8D8D8; }
  #repo li a {
    color: #296ACC;
    font-weight: bold;
    font-size: 1.2em;
    width: 50%; }
  #repo li div {
    width: 40%; }

#cont {
  display: none; }

#repo a {
  width: 20%;
  display: inline-block; }

#repo div {
  display: inline-block;
  width: 79%;
  text-align: right; }

#pa {
  display: none; }

.repoSpacer {
  margin-right: 5%; }

#rep-tab {
  border: .1em solid #B2B2B2;
  border-radius: .2em;
  border-bottom: none;
  padding-bottom: .7em;
  background-color: white;
  color: black; }

#pa-tab, #cont-tab {
  background-color: white;
  border-radius: .2em; }

#search-rep {
  display: inline-block;
  border-bottom: 0.1em solid #D8D8D8;
  padding-bottom: 1em;
  width: 100%;
  font-size: .8em; }
  #search-rep li {
    margin: 0 .3%; }
    #search-rep li:nth-child(8) {
      width: 10%; }
    #search-rep li:nth-child(1) {
      width: 40%;
      margin-right: 2%; }
    #search-rep li a {
      color: #296ACC; }
    #search-rep li input {
      padding: 3%;
      width: 65%; }

.up {
  color: #B2B2B2; }

#foot {
  font-size: .7em; }

.footer {
  width: 30%; }
  .footer:nth-child(1) {
    margin-left: 15%; }
  .footer ul {
    width: 100%; }

.icon-gray {
  color: #B2B2B2; }

.gray {
  border-radius: .2em;
  box-shadow: none;
  border: 0.1em solid #CFCFCF;
  background-color: white;
  padding: 3%; }

.green {
  width: 100%;
  border-radius: .2em;
  background-color: #29AB29;
  color: white;
  border: .1em solid #196719;
  padding: 10% 5%; }
