body {
  margin: 0;
  padding: 0;
  font-family: 'arial'; }

ul {
  display: block;
  text-decoration: none; }

li {
  display: inline-block;
  text-decoration: none; }

section ul {
  padding: 0; }
  section ul li {
    display: inline-block;
    vertical-align: top; }

input {
  border-radius: .3em;
  font-size: .8em; }

a {
  text-decoration: none; }

div {
  length: 40%; }

nav {
  background-color: #D1D1D1;
  border-bottom: solid thin #666666;
  margin-top: 0;
  padding-top: 2%; }
  nav ul {
    margin-top: 0; }

#head-left {
  margin-right: 30%;
  margin-left: 4%; }
  #head-left input {
    width: 22em; }

#left-C {
  width: 23%;
  margin-left: 8%;
  margin-right: 2%; }

#pic {
  width: 100%; }
  #pic img {
    width: 14em;
    border-radius: 1em; }

#names {
  width: 100%; }
  #names li {
    display: block; }

#details2 {
  margin-left: 5%; }

#details2 li {
  margin: 0 13%; }

#details2Titles li {
  margin: 0 3%; }

#org li {
  display: block; }

#right-C {
  width: 54%;
  margin-left: 0;
  margin-top: 0; }

.tabs li a {
  text-decoration: none;
  border-style: outset;
  border-color: black;
  border-width: thin;
  color: black;
  margin: 2% 0; }

#repo li {
  display: block; }

#cont {
  display: none; }

#pa {
  display: none; }

.repoSpacer {
  margin-right: 5%; }

#foot {
  font-size: .7em; }
  #foot li {
    margin: 0 auto;
    padding: 0; }
    #foot li:nth-child(2) {
      margin-left: 2%; }
